html,
body {
    height: 100%;
    background: rgb(218, 231, 231);
    line-height: 1;
}

#homepage {
    display: flex;
    flex-direction: column;

}
option {
    display: block;
    white-space:nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
#text {
    display: none;
    color: red;
}
div {
    display: block;
}

#wrapper {
    font: inherit;
    vertical-align: baseline;
}

.address {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 12px;
    position: relative;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: black;
}

.navbar>.container,
.navbar>.container-fluid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: black;
    color: white;
}
figure {
    width: 50%
}
#connect {
    padding: 0 240px 0 240px;
    align-items: center;
    display: block;
}
form {
    display: block;
    padding: 20px 20px 20px 20px;
}

.text-center {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
}

.img-object {
    display: block;
    object-fit: contain;
    width:480px;
    height: 480px;
    margin-top: 10px;
}
aside {
    display: block;
}
.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid;
    margin: 10px;
    background-size:contain;
    background-position: center;
}
.cover-pic {
    display: block;
    width: 100%;
    object-fit: contain;
}
.profile-pic {
    width: 100;
    border-radius: 50%;
    margin-top: -70px;
    object-fit: contain;
    
}
.profile-pic:hover {
    box-shadow: 0 0 0 1px blue;
}
.follow-btn {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #1900ff;
    color: #312d2d;
    padding: 6px 20px;
    margin: 5px 0;
}
.view-btn {
    display: inline-block;
    text-decoration: underline;
    background: #2806ed;
    color: white;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
}
.view-btn:hover {
    color: rgb(196, 208, 240);
}